<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
<bean id = "MathCheat" class = "com.springloosecoupling.MathCheat"></bean>        
<bean id = "ScienceCheat" class = "com.springloosecoupling.ScienceCheat"></bean>   
        
<bean id = "Student" class = "com.springloosecoupling.Student">

	<property name="cheat" ref = "MathCheat"></property>

</bean>     
 
</beans>